/* GENERAL STYLES */

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-black: #000000;
    --color-blacksp: #202124;
    --color-midgray: #9aa0a6;
}


body {
    background-color: #fff;
    color: var(--color-black);
    font-family: 'Arial', sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

a {
    color: var(--color-black);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

#viewport {
    position: absolute;
    top: 0;
    width: 100%;
}

input[type=text], i {
    width: 95%;
    border: none;
    font-size: 16px;
}

/* IMAGES */

.menu-apps {
    width: 16px;
    height: 16px;
    opacity: .55;
}

.menu-apps:hover {
    cursor: pointer;
    opacity: 1;
}

.menu-usuario {
    width: 34px;
    height: 34px;
    opacity: 1;
}

.menu-usuario:hover {
    cursor: pointer;
    opacity: .8;
}

.google-logo {
    width: 272px;
    height: 92px;
}

#search-icon {
    width: 20px;
    color: var(--color-midgray);
    fill: currentColor;
}

#search-mic {
    width: 24px;
}


/* HEADER */

#header {
    position: absolute;
    top: 13px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-left {
    position: relative;
    display: flex;
    font-size: 13px;
    margin-left: 10px;
}

#header-left a {
    display: inline-block;
    padding: 0 0 0 15px;
    opacity: .75;
}

#header-right {
    position: relative;
    font-size: 13px;
    display: flex;
    align-items: center;
    min-width: 196px;
    margin: 0 30px 0 30px;
}

#header-right a {
    padding-right: 15px;
}

#header-right a:hover {
    opacity: .85;
}

.menu-imgs {
    display: flex;
    flex-flow: row wrap;   
    align-items: center;
    justify-content: space-between;
    min-width: 75px;
}

.menu-imgs .menu-apps {
    margin: 2px 0 0 7px;
}

/* MAIN */

#main {
    position: relative;
    text-align: center;
    margin: 89px 0 0 0;
}

#main .google-logo {
    margin-top: 109px;
}

#search-bar {
    position: relative;
    height: 44px;
    width: auto;
    max-width: 484px;
    display: flex;
    flex-flow: row wrap;
    /* flex-shrink: 1; */
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

#search-input {
    display: inline-block;
    min-width: 412px;
    max-width: 500px;
}

/* FOOTER */

#footer {
    position: fixed;
    bottom: 0;
}